@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.preloader {
    background-color: white !important;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

.hidden {
    display: none;
}

.main-body .menu {
    position: fixed;
    left: 0;
    background: #233447;
    min-height: 100vh;
    overflow-y: scroll;
    color: white;
    padding: 0;
}

.main-body .menu .title {
    color: #ddd2ec;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.main-body .menu .title span {
    color: darkorange;
}

.main-body .menu .list-group .list-group-item {
    margin: 15px 0;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-left: 0 !important;
}

.main-body .menu .list-group .list-group-item {
    background-color: transparent !important;
    border: 2px solid #ddd2ec !important;
    border-left: none !important;
    max-width: 85%;
    font-size: 1rem;
}

.main-body .menu .list-group .active {
    background-color: #ddd2ec !important;
    color: black !important;
    font-weight: 600;
    border: none;
}

.main-body .menu .list-group a {
    color: white !important;
    text-decoration: none !important;
}

.main-body .body-content {
    position: absolute;
    right: 0;
    min-height: 100vh;
    overflow-y: scroll;
    background-color: #acacac69;
}

.add-note-btn {
    background: #2a3e55;
    color: white;
    min-width: 110px !important;
}

.add-pass-btn {
    background: #2a3e55;
    color: white;
    min-width: 140px !important;
}

.add-note-btn:hover,
.add-pass-btn:hover {
    color: #2a3e55;
    background: white;
}

.notes .card {
    border-radius: 12px !important;
    transition: 0.3s all ease-in;
}

.notes .card:hover {
    box-shadow: 1px 1px 5px rgba(42, 62, 85, 0.5);
}

.notes .card .update-delete {
    position: absolute;
    top: 20px;
    right: 10px;
    visibility: hidden;
    transition: 0.5s all fadeIn;
    animation-duration: 1s;
    animation-name: fadeIn;
}

.notes .card .update-delete a {
    color: #2a3e55;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.notes .card:hover .update-delete {
    visibility: visible;
}


/* Passwords */

.password .card {
    border-radius: 12px !important;
    transition: 0.3s all ease-in;
}

.password .card:hover {
    box-shadow: 1px 1px 5px rgba(42, 62, 85, 0.5);
}

.password .card .update-delete {
    position: absolute;
    top: 20px;
    right: 10px;
    visibility: hidden;
    transition: 0.5s all fadeIn;
    animation-duration: 1s;
    animation-name: fadeIn;
}

.password .card .update-delete a {
    color: #2a3e55;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.password .card:hover .update-delete {
    visibility: visible;
}

.password .card .pass {
    background: none !important;
    border: none !important;
    outline: none !important;
}

.password .card .show-hide i {
    cursor: pointer;
    color: whitesmoke;
    transition: 0.3s color ease;
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.password .card .show-hide i:hover {
    color: #2a3e55;
}